body{
    margin: 0;
}

.base-container{
    background: transparent linear-gradient(180deg, #5EE4FF 0%, #1250CB 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: row;

    height: 100vh;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}

textarea{
    background-color: transparent;
    border: none;

}

.text-container{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #1250CB;
    border-radius: 20px;
    width: 50%;
    height: 50%;
    padding: 2em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-container > d{
    text-align: left;
    font: normal normal normal 20px/27px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
}

.exit{
    height: 10%;
    display: flex;
    justify-items: flex-end;
}

.exit > a{
    font-size: 5em;
    margin: 0.5em 0.5em 0 0;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: darkgray;
}

a:active {
    color: black;
}

button{
    background: transparent linear-gradient(180deg, #5EE4FF 0%, #1250CB 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #000000;
    border-radius: 20px;
    color: black;
    width: 40%;
    border: none;
    margin: 1em;
    line-height: 2.5em;
}

button:active{
    background: transparent linear-gradient(180deg, #86daf3 0%, #2b58be 100%) 0% 0% no-repeat padding-box;
}

input{
    background-color: transparent;
    border: none;
    width: 100%;
}