body{
    margin: 0;
}

.base-container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
}

nav{
    width: 15vw;
    height: 100%;
    background: transparent linear-gradient(180deg, #5EE4FF 0%, #1250CB 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    overflow: hidden;
}

nav > img{
    width: 70%;
    margin: 1em auto;
}

li > a{
    text-decoration: none;
    display: inline-block;
    line-height: 1em;
}

a:link, .buttonLogOut:link {
    color: black;
}

a:visited, .buttonLogOut:visited {
    color: black;
}

a:hover, .buttonLogOut:hover {
    color: darkgray;
}

a:active, .buttonLogOut:active{
    color: black;
}

li > i{
    font-size: 2em;
}

.button, .buttonLogOut{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #1250CB;
    border-radius: 20px;
    margin-bottom: 0.1em;
    text-align: left;
    padding: 0.3em;
    width: 90%;
}

.buttonLogOut{
    font: normal normal normal 30px/53px Segoe UI;
    width: 97%;
    padding:0 0 0 0.3em;
}

.ul-nav{
    list-style-type: none;
    color: black;
    font: normal normal normal 30px/53px Segoe UI;
    letter-spacing: 0px;
    height: 100%;
    margin: 0.5em 0.2em;
    padding: 0;
    position: relative;
}


.ul-nav > li:last-child{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.fa, .fas {
    width: 1em;
}

.profile-image{
    border: 1px solid #1250CB;
    border-radius: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    margin: auto;
}

.profile-image > img{
    width: 100%;
    margin: 0;
}

.nickname{
    margin: 0 auto;
    text-align: left;
    font: normal normal normal 41px/54px Segoe UI;
    letter-spacing: 0px;
    font-size: 150%;
}

.map-box{
    height: 100%;
    width: 85vw;
    display: flex;
    justify-content: space-between;
}


.search-box{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #1250CB;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 1px 1px 5px grey;
    width: 25%;
    margin: 1em 0 0 2em;
    display: flex;
    flex-direction: row;
    overflow: auto;
    position: fixed;
}

.search-bar{
    width: 100%;
    padding: 0;
    margin: 8px 0 8px 8px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
}

.search-box > i{
    letter-spacing: 0px;
    color: black;
    text-align: center;

    padding: 0;
    margin: 8px 8px 8px 0;
    border: none;
    border-bottom: solid 1px gray;
}

.search-box > i:hover{
    color: gray;
}

.buttonReport{
    background: #5EE4FF 0% 0% no-repeat padding-box;
    border: 1px solid #1250CB;
    border-radius: 100%;

    align-self: flex-end;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 7em;
    height: 7em;
    margin: 1em;
    position: fixed;
    bottom: 3vh;
    left: 32vh;

}

.buttonReport:hover, .reportPanelButton:hover{
    background-color: #17beee;
}

.buttonReport:hover > d{
    color: #252525;
}

.buttonReport:hover > i{
    color: #252525;
}

.buttonReport > i{
    font-size: 2em;
}

.buttonReport > d{
    text-align: left;
    font: normal normal normal 25px/33px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
}

.reportPanel{
    background: transparent linear-gradient(180deg, #5EE4FF 0%, #1250CB 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #1250CB;
    border-radius: 20px;
    width: 21em;
    height: 30em;
    padding: 1em;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 13vh;
    left: 42vh;
}

.reportPanel > textarea{
    width: 100%;
}

.busStopsSearch{
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    background: white;
    border-radius: 1em;
    padding: 0.3em;
    border: 1px solid #1250CB;
}

.uniformPanel{
    width: 40vh;
    font-size: 2em;
    margin-left: 1vh;
}

.reportPanelButton{
    background: #5EE4FF 0% 0% no-repeat padding-box;
    border: 1px solid #1250CB;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6em;
    height: 3em;
    margin-top: 0.5em;
}

.reportPanelButtonArea{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.uniformArea{
    width: 100%;
    display: flex;
    align-items: center;
}

.inputCheck{
    width: 3vh;
}

.searchResults{
    background: white;
    width: 100%;
    border: 1px solid #1250CB;
    display: flex;
    flex-direction: column;
    height: 5em;
    overflow: auto;
}

.emergency-panel{
    background: none;
    height: 50%;
    display: flex;
    align-items: center;
    position: fixed;
    right: 1vh;
}
.emergency{
    height: 95%;
    width: 95%;
    margin-left: 5px;
    background: #5EE4FF 0% 0% no-repeat padding-box;
    border: 1px solid #1250CB;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.emergency > h2{
    text-align: left;
    font: normal normal normal 25px/33px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
}

.emergency-d{
    text-align: center;
    font: normal normal normal 15px/25px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
}

.emergency-output{
    text-align: center;
    font: normal normal normal 15px/25px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
}

.fa-exclamation-triangle{
    color: red;
}

.emergency-message{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #1250CB;
    border-radius: 20px;
    width: 93%;
    height: 50%;
    padding: 5px;
    overflow: auto;
}

.confirmation{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.confirmation > i{
    font-size: 3em;
    margin: 4px;
    color: darkblue;
}

.confirmation > i:hover{
    color: #04a8de;
}



