body{
    margin: 0;
} 

.container{
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #5EE4FF 0%, #1250CB 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a:visited {
    color: black;
}

.logo{
    background-size: auto;
    text-align: center;
    margin-right: 1%;
}

.login-container{
    width: 40%;
}

.registration-container{
    width: 40%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #1250CB;
    border-radius: 60px;
    overflow: auto;
}

form.login{
    height: 40vh;
}

form.registration {
    height: 70vh;
}

button{
    background: transparent linear-gradient(180deg, #5EE4FF 0%, #1250CB 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #000000;
    border-radius: 20px;
    color: black;
    width: 40%;
    border: none;
    margin: 1em;
    line-height: 2.5em;
}

button:active{
    background: transparent linear-gradient(180deg, #86daf3 0%, #2b58be 100%) 0% 0% no-repeat padding-box;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 1em;
    margin: 1em;
    width: 70%;
}

@media only screen and (max-device-width: 420px){
    .container{
        flex-direction: column;
    }

    * {
        font-size: 36px;
    }

    .login-container, .logo, .registration-container {
        width: 100%;
    }

    .panel-login, .panel-registration{
        margin: auto;
    }
    img {
        height: 8em;
        margin: 2em;
    }
}

.no-valid{
    border: 3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}

.registrationButton{
    color: red;
}