#map{
    width: 100%;
    height: 100vh;
}

.marker {
    background-image: url("https://cdn-icons-png.flaticon.com/512/1042/1042314.png");
    background-size: cover;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

