body{
    margin: 0;
}

.base-container{
    background: transparent linear-gradient(180deg, #5EE4FF 0%, #1250CB 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.logo{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.logo > img{
    width: 100%;
    margin: 1em 2em;
}

.profile-panel{
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 15em 0 0;
}

.profile-image-edit{
    display: flex;
    align-items: center;
}

button{
    text-align: left;
    font: normal normal normal 20px/30px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    background: none;
    border: none;
    border-radius: 20px;
}

input.button:hover{
    color: #252525;
}

.profile-image-edit:active{
    background-color: #74dfff;
}

.profile-image{
    border: 1px solid #1250CB;
    border-radius: 100%;
    width: 20%;
    display: flex;
    align-items: center;
}

.profile-image > img{
    width: 100%;
    margin: 0;
}

li{
    text-decoration: none;
    display: inline-block;
    line-height: 1em;
}

.button, .outButton{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #1250CB;
    border-radius: 20px;
    margin-bottom: 0.1em;
    text-align: left;
    padding: 0.3em;
    width: 30em;

    display: flex;
    align-items: center;
}

.outButton{
    width: 120%;
}

.first-emoji{
    width: 5%;
    margin: 0 1em;
}

.text, .inputData{
    width: 85%;
    margin-left: 10px;
    overflow: hidden;
    text-align: left;
    font: normal normal normal 30px/40px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
}

.inputData{
    color: gray;
    padding: 0;
}

input{
    background-color: transparent;
    border: none;
    padding: 1em;
    margin: 0em;
    width: 75%;
}

.second-emoji{
    width: 5%;
    margin-right: 20px;
}

.second-emoji:hover{
    color: gray;
}

i {
    font-size: 2em;
}

ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

form{
    display: flex;
    width: 97%;
    align-items: center;
}

ul > form{
    position: absolute;
    bottom: 5em;
    width: 10%;
    justify-self: flex-end;

    text-align: center;
    font: normal normal normal 20px/30px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
}

li > a{
    text-decoration: none;
    display: inline-block;
    line-height: 1em;
}

.firstButton, .logout{
    display: flex;
    flex-direction: column;
}

.logout{
    margin-left: 1em;
}


.exit{
    height: 10%;
    display: flex;
    justify-items: flex-end;
}

.logout > button:hover{
    background-color: darkgray;
}

.exit > a{
    font-size: 3em;
    margin: 0.5em 0.5em 0 0;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: darkgray;
}

a:active {
    color: black;
}

.message{
    margin-top: 1em;
    color: darkred;
}
